<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524127318753-7ah3pkb32f9ov5tiivo4ui0s6vqldvuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524127318753-7ah3pkb32f9ov5tiivo4ui0s6vqldvuh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>524127318753-0p23to6pic753osop5a2irmkf7chun1d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUDofrvc-Lumtre-0JP5BohGMvX4n_-UE</string>
	<key>GCM_SENDER_ID</key>
	<string>524127318753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.conexasaude</string>
	<key>PROJECT_ID</key>
	<string>conexa-app-hml</string>
	<key>STORAGE_BUCKET</key>
	<string>conexa-app-hml.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524127318753:ios:e453a75241231c7c197da0</string>
	<key>DATABASE_URL</key>
	<string>https://conexa-app-hml.firebaseio.com</string>
</dict>
</plist>